body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: rgb(3, 123, 215);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.thong-tin {
    width: 30%;
    margin-right: 20px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.lien-he {
    width: 70%;
 
}

form {
    border: 1px solid #ddd;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

textarea {
    height: 100px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #a26060;
    color: #fff;
    border: none;
    cursor: pointer;
}
H3 {
    color: blueviolet;

}